/* Your custom styles */
body, html {
    height: 100%;
    background-color: #818892;
}

.title {
  font-size: 70px;
  padding-top: 30%;
  color: white;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.subtitle {
  font-size: 35px;
  top: 50%;
  color: white;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.navbar {
  height: 60px;
  display: inline;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}

.skill, .portfolio-title {
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.parallax-1 {
    /* The image used */
    background-image: url("../img/mountains.jpeg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    /* The image used */
    background-image: url("../img/foreststream.gif");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.parallax-3 {
    /* The image used */
    background-image: url("../img/summerbreeze.gif");

    /* Full height */
    height: 90%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#aboutMe {
  padding: 3em 20%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

#portfolio {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

section {
  height: 100%;
  display: block;
  text-align: justify;
  padding-bottom: 25px;
  max-height: 100%;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-height: 1200px;
}

div.social.about-social-circle {
  display: flex;
  justify-content: center !important;
  border-bottom: 2px solid white;
  padding-bottom: 5vh;
}

.social p {
  display: inline-flex;
  margin: 0;
}


.social p a {
  width: 60px;
  height: 60px;
  font-size: 16px;
  background: #51a3d2;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.social p a i {
  font-size: 30px;
}

.social p a:hover, .social p a:active, .social p a:focus {
  text-decoration: none;
  border-bottom: none;
}

.social p a:hover {
  background: #393e46 !important;
}

#social-row {
  margin: 2em 0 4em 0;
  text-align: center;
  padding-top: 10vh;
  padding-left: 50%;
}

.item-spacing {
  padding-top: 10vh;
  padding-bottom: 10vh;
}